---
---

@import "{{ site.theme }}";

@-ms-viewport{
  width: device-width;
}


body {
  font:16px, 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-weight:500;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: url(../images/body-background.png) #eae6d1;
  height: 100vh;
  width: 100vw;
}

h3, h4, h5, h6 {
  color:#5200cc;
}

#banner {

  z-index: 100;
  left:0;
  right:50%;
  height: 50px;
  margin-right:-600px;
  position: fixed;
  top: 115px;
  background: #000000;
  border: 0.5px solid black;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

  .button {
    border: 1px solid #87adc6;
    background: linear-gradient(rgb(158, 178, 216), rgb(198, 202, 209));
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
    background-color: #87adc6;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:16px;
    color:#070707;
    font-weight: bold;
    display:inline-block;
    text-align:center;

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
    }
  }

  .fork {
    position:fixed;
    left:60%;
    margin-left:-880px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    background-color: #FFE788;
  }

  .downloads {
    float: right;
    margin:0 300px 0 0;

    span {
      float: left;
      line-height:52px;
      font-size:90%;
      color:#9d7f0d;
      text-transform:uppercase;
      text-shadow:rgba(#fff, 0.2) 0 1px 0;
    }
  }

  ul {
    list-style:none;
    height:80px;
    padding:0;
    float: left;
    margin-left:10px;


    li {
      display:inline;

      a.button {
        background-color: #FFE788;
        font-size:16px;
      }
    }
  }

#logo {
  position:absolute;
  height: 10px;
  width: 10%;
  right: 0.5px;
  top: 0.5px;
  display: block;

      }
}

.wrapper {

  width:650px;
  margin:0 auto;
  position:relative;
}

nav {
  width: 330px;
  position: fixed;
  top: 220px;
  left:50%;
  margin-left:-680px;
  text-align: right;

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 16px;
    line-height: 250px;

    li {
      padding: 5px 0px;
      line-height: 18px;
      padding-right:17px;
      position:relative;
      right:-12px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: white;
        }

        + .tag-h2 {

        }
      }

      &.tag-h2 {

        + .tag-h1 {
          margin-top:5px;
        }
      }
    }

    a {
      color: white;

      &:hover { color: yellow; }
    }

    .active {
      border-right:solid 4px #39C;
      padding-right:13px;
    }
  }
}

footer {
  width:180px;
  position: fixed;
  left:50%;
  margin-left:-530px;
  bottom:20px;
  text-align: right;
  line-height: 16px;
  font-weight: bold;
  font-color: black;
  font-size: 14px;
}
